@import "tailwindcss";

@config "../../tailwind.config.ts";



:root {
  --primary: #C22047;
  --secondary: #7F1E47;
}
[data-theme="dark"] {
  
  --primary: #C22047;
  --secondary: #7F1E47;
}
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}